
@{
    ViewData["Title"] = "SaveData";
}

<h1>SaveData</h1>

<form method="get">
    <input type="text" name="name"/>
    <input type="text" name="address" />
    <input type="number" name="deptid" />
    <input type="number" name="salary" />
    <select name="cities" multiple>
        <option value="A">option1</option>
        <option value="B">option2</option>
        <option value="C">option3</option>
        <option value="D">option4</option>
    </select>
    <input type="submit" value="Save" />
</form>

